<beans xmlns="http://www.springframework.org/schema/beans"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns:context="http://www.springframework.org/schema/context"
          xmlns:mongo="http://www.springframework.org/schema/data/mongo"
          xsi:schemaLocation=
          "http://www.springframework.org/schema/context
          https://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/data/mongo https://www.springframework.org/schema/data/mongo/spring-mongo.xsd
          http://www.springframework.org/schema/beans
          https://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- import resource="classpath:property-configurer.xml"/-->
	
    <!-- Default bean name is 'mongo' -->
    <mongo:mongo-client host="${mongodb.hostname}" port="${mongodb.port}"/>

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
  		<constructor-arg ref="mongoClient"/>
  		<constructor-arg name="databaseName" value="poc_portal_iti"/>
	</bean>

</beans>